

#container {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 100vh;
}

#map {
    width: 600px;
    height: 500px;
  }

  .catabc1, .catc2, .catc3, .catd, .cate {
    fill: none;
    stroke-width: 3;
    stroke-opacity: 0.3;
  }