
.leafletMap {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.leaflet-grab {
    cursor: auto;
}
.leaflet-dragging .leaflet-grab {
    cursor: move;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 3px;
    pointer-events: none;
    z-index: 1000;
}

#chartjs-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 3px;
    padding: 5px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 12px;
    display: none;
}

div {
    font-family: Roboto;
}

.sidebar {
    width: 25%; /* Or any percentage that fits your layout */
    min-width: 250px; /* Ensures a minimum readable width */
    max-width: 350px; /* Prevents the sidebar from becoming too wide */
}

/*
.distChartCanvas {
    background-color: rgba(39, 38, 38, 255);
}
*/
